<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../images/favicon.ico">

    <title>@ViewBag.Title - Monitor Tracker</title>

    <link href="~/assets/vendor_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap-extend.css" rel="stylesheet" />
    <link href="~/Content/css/master_style.css" rel="stylesheet" />
    <link href="~/Content/css/skins/_all-skins.css" rel="stylesheet" />
    <link href="~/Content/css/Spiner.css" rel="stylesheet" />

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/assets/vendor_components/chart-js/chart.js"></script>

    @*@Styles.Render("~/css")*@
</head>

<body class="skin-info-light sidebar-mini">
    <div class="wrapper">

        <header class="main-header">
            <!-- Logo -->
            <a href="" class="logo">
                <!-- mini logo -->
                <div class="logo-mini">
                    <span class="light-logo"><img style="width:80% !important" src="~/TemplateAssets/assets/images/logo.jpeg" alt="logo"></span>
                    <span class="dark-logo"><img style="width:80% !important" src="~/TemplateAssets/assets/images/logo.jpeg" alt="logo"></span>
                </div>
                <!-- logo-->
                <div class="logo-lg">
                    <span class="light-logo"><img style="width:80% !important" src="~/TemplateAssets/assets/images/logo.jpeg" alt="logo"></span>
                    <span class="dark-logo"><img style="width:80% !important" src="~/TemplateAssets/assets/images/logo.jpeg" alt="logo"></span>
                </div>
            </a>
            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <div>
                    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>
                </div>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">

                        <li class="search-box">
                            <a class="nav-link hidden-sm-down" href="javascript:void(0)"><i class="mdi mdi-magnify"></i></a>
                            <form class="app-search" style="display: none;">
                                <input type="text" class="form-control" placeholder="Search &amp; enter"> <a class="srh-btn"><i class="ti-close"></i></a>
                            </form>
                        </li>
                        <!-- User Account-->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="~/TemplateAssets/assets/images/users/icon.png" class="user-image rounded-circle" alt="User Image">
                            </a>
                            <ul class="dropdown-menu animated flipInY">

                                <li class="user-header bg-img" style="background-image: url('/TemplateAssets/assets/images//user-info.jpg')" data-overlay="3">
                                    <div class="flexbox align-self-center">
                                        <h4 class="user-name align-self-center">
                                            <span>@Html.Raw(Session["Name"])</span>
                                            <small>@Html.Raw(Session["Email"])</small>
                                        </h4>
                                    </div>
                                </li>

                                <li class="user-body">
                                    <div class="dropdown-divider"></div>
                                    @if (Request.IsAuthenticated)
                                    {
                                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()"><i class="ion-log-out"></i> Logout</a>}
                                    }
                                    <div class="dropdown-divider"></div>
                                </li>
                            </ul>
                        </li>
                        <!-- Control Sidebar Toggle Button -->
                    </ul>
                </div>
            </nav>
        </header>

        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar-->
            <section class="sidebar">

                <!-- sidebar menu-->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="user-profile treeview">
                        <a href="">
                            <span>
                                <span class="d-block font-weight-600 font-size-16">@Html.Raw(Session["Name"])</span>
                                <span class="email-id">@Html.Raw(Session["Email"])</span>
                            </span>
                        </a>
                    </li>
                    <li class="header nav-small-cap"><i class="mdi mdi-drag-horizontal mr-5"></i>MENU</li>

                    <li class="">
                        <a href="@Url.Action("Index", "Home")">
                            <i class="mdi mdi-home"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>

                    @if (User.IsInRole("Admin"))
                    {
                        <li class="">
                            <a href="@Url.Action("UserList", "Manage")">
                                <i class="mdi mdi-account-circle"></i>
                                <span>Usuarios</span>
                            </a>
                        </li>

                        <li class="">
                            <a href="@Url.Action("Index", "Agent_Employee")">
                                <i class="fa fa-users"></i>
                                <span>Empleados</span>
                            </a>
                        </li>

                        <li class="">
                            <a href="@Url.Action("Index", "Agent_Job")">
                                <i class="fa fa-calendar"></i>
                                <span>Cargos & Horarios</span>
                            </a>
                        </li>

                        <li class="">
                            <a href="@Url.Action("Index", "Agent_ProgramClasification")">
                                <i class="fa fa-microchip"></i>
                                <span>Clasificación de programas</span>
                            </a>
                        </li>
                    }
                    @if (User.IsInRole("SAdmin"))
                    {
                        <li class="">
                            <a href="@Url.Action("Index", "Agent_Empresa")">
                                <i class="fa fa-building"></i>
                                <span>Companies</span>
                            </a>
                        </li>
                    }
                    @if (User.IsInRole("User"))
                    {

                    }

                    <li class="">
                        <a href="@Url.Action("Index", "Agent_GroupHorary")">
                            <i class="fa fa-clock-o"></i>
                            <span>Group Horary</span>
                        </a>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="mdi mdi-notification-clear-all"></i>
                            <span>Reportes</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-right pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("Index", "UserReport")">Por Empleado</a></li>
                            <li><a href="@Url.Action("Index", "ReportApplications")">Aplicaciones mas usadas</a></li>
                            <li><a href="@Url.Action("Index", "MainApplicationsAndSites")">Principales Sitios Web y Aplicaciones</a></li>
                            <li><a href="@Url.Action("Index", "MoreUsedApplications")">Principales aplicaciones Usadas</a></li>
                        </ul>  
                    </li>
                </ul>
            </section>
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content">
                @RenderBody()
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            &copy; @DateTime.Now.Year - MonitorTracker - ALL GROUP TECHNOLOGY
        </footer>
        <div class="control-sidebar-bg"></div>

        @if (User.IsInRole("Admin"))
        {<!-- File Modal -->
            using (Html.BeginForm("uploaduser", "Agent_Employee", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="modal fade" id="FileModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Add Multiple Employees</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="exampleInputFile">File input</label>
                                    <input type="file" name="file" id="file" />
                                    <p class="help-block">@ViewBag.Message</p>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-sm btn-primary">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }

    </div>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/assets/vendor_components/jquery-ui/jquery-ui.js"></script>
    <script src="~/assets/vendor_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/assets/vendor_components/moment/min/moment.min.js"></script>
    <script src="~/assets/vendor_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
    <script src="~/assets/vendor_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/assets/vendor_components/chart.js-master/Chart.min.js"></script>
    <script src="~/assets/vendor_components/jquery-slimscroll/jquery.slimscroll.js"></script>
    <script src="~/assets/vendor_components/fastclick/lib/fastclick.js"></script>
    <script src="~/assets/vendor_components/raphael/raphael.min.js"></script>
    <script src="~/assets/vendor_components/morris.js/morris.min.js"></script>
    <script src="~/assets/vendor_components/datatable/datatables.js"></script>
    <script src="~/assets/vendor_components/select2/dist/js/select2.full.js"></script>
    <script src="~/js/template.js"></script>
    <script src="~/js/iframeheight.js"></script>
    <script src="~/js/Common.js?01"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

 

    @if (TempData.ContainsKey(Queue.Utils.Alerts.SUCCESS))
    {
        foreach (var value in TempData.Values)
        {
            <script>
            swal("Exitoso!", "@value.ToString()", "success");            
    </script>
}
TempData.Remove(Queue.Utils.Alerts.SUCCESS);
}

@if (TempData.ContainsKey(Queue.Utils.Alerts.ERROR))
{
    foreach (var value in TempData.Values)
    {
<script>
        swal("Atención!", "@value.ToString()", "error");
</script>
    }
    TempData.Remove(Queue.Utils.Alerts.ERROR);
}

@if (TempData.ContainsKey(Queue.Utils.Alerts.INFORMATION))
{
    foreach (var value in TempData.Values)
    {
<script>
        swal("Atención!", "@value.ToString()", "info");
</script>
    }
    TempData.Remove(Queue.Utils.Alerts.INFORMATION);
}

@if (TempData.ContainsKey(Queue.Utils.Alerts.WARNING))
{
    foreach (var value in TempData.Values)
    {
<script>
        swal("Atención!", "@value.ToString()", "warning");
</script>
    }
    TempData.Remove(Queue.Utils.Alerts.WARNING);
}

   
@Html.EJS().ScriptManager()




</body>

@*@Scripts.Render("~/scripts")*@
@RenderSection("scripts", required: false)

</html>
